@media screen and (max-width: 500px) {
  .controls {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    gap: 30px;
  }
  #canvas1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .controls,
  select,
  option {
    font-size: 20px;
  }
  .left,
  .right,
  .head {
    width: 300px;
  }

  .head {
    text-align: center;
    text-decoration: underline;
    color: grey;
  }
}
